<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="POST">
        <p>
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Войти" name="login">
            <input type="submit" value="Зарегистрироваться" name="registration">
        </p>
    </form>
</body>
</html>